<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy notice</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to external CSS -->
</head>

<div>
    <h1><strong>Booking System Privacy Notice</strong></h1>

    <h2>Effective date 1.1.2024</h2>

    <h3>1. Information we collect</h3>
    <p>
        <li>Personal information: name, email address, birthdate.</li>
        <li>Usage/login data: Information on how you use our services including resources, reservations and access times.</li>
    </p>

    <h3>2. How we use your information</h3>
    <p>
        <li>To provide and improve out services.</li>
        <li>To communicate with you about your account and our services.</li>
        <li>To comply with legal obligations.</li>
    </p>

    <h3>3. Sharing your information</h3>
    <p>
        <li>We do not sell your information.</li>
        <li>We may share your information with trusted third parties to help us provide our services,
            subject to strict confidentiality agreements.
        </li>
    </p>

    <h3>4. Your rights</h3>
    <p>
        <li>You have the right to access, correct or delete your personal information.</li>
    </p>
</div>

</html>