<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of service</title>
    <link rel="stylesheet" href="/static/styles.css"> <!-- Link to external CSS -->
</head>

<div>
    <h1><strong>Terms of Service</strong></h1>

    <h3>1. Acceptance of terms</h3>
    <p>By accessing or using Booking System, you agree to comply by these Terms of Service.
        If you do not agree, please do not use our site.</p>

    <h3>2. User accounts</h3>
    <p>You must create an account to use Booking System. You are responsible for confidentiality of your information
        and for all activities that occur under your account.</p>

    <h3>3. Use of the Service</h3>
    <p>Booking system is for personal, non-commercial use only. You agree not to misuse the service, including but not limited to,
        attempting to gain unauthorized access to the site or its systems.</p>

    <h3>4. Content ownership</h3>
    <p>All content provided by Booking System, including text, graphics, and software is the property of Booking System.
        You may not reuse this content without explicit permissions</p>

    <h3>5. Privacy</h3>
    <p>Your privacy is important to us. Please review our privacy policy to understand how we collect, use and protect your
        information</p>

    <h3>6. Termination</h3>
    <p>We reserve the right to terminate or suspend your account at any time, without notice, for conduct that we believe violates
        the Terms of Service of is harmful to other users.</p>

    <h3>7. Limitation of Liability</h3>
    <p>Booking system is provided "as is" without warranties of any kind. We are not liable for any damages arising from the use
        of the site.</p>

    <h3>8. Changes to Terms</h3>
    <p>We may update these Terms of Service from time to time. Continued use of Booking System after any changes constitutes your
        acceptence of the new terms.</p>
</div>

</html>